{% extends 'Pan100MoodLogBundle:Default:index.html.twig' %}
{% block title %}Innlogging{% endblock %}
{% block body %}
<h1>Logg inn til stemningsloggen:</h1>
	{{ block('fos_user_content') }}
{% endblock %}