{% extends 'Pan100MoodLogBundle:Default:index.html.twig' %}

{% block body %}
<h1>Logget inn som {{ app.user.username }}{% if is_granted('ROLE_PATIENT') %} (pasient) {% endif %}</h1>
<ul>
{% for day in days %}
	<li>
        {{ day.date|format_date('eeee d. LLLL') }}
    </li>    
{% endfor %}
</ul>
{% endblock %}